.about {
  margin: 0 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .hero {
  width: 100%;
}

.collapse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 1023px;
}

@media screen and (max-width: 576px) {
  .about {
    margin: 0 20px 27px;
  }

  .collapse-wrapper {
    gap: 20px;
    width: 335px;
  }
}
