.about {
  margin: 0 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .hero {
  width: 100%;
}

.collapse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  padding: 0 110px;
}

@media screen and (max-width: 992px) {
  .about {
    margin: 0 20px 27px;
  }

  .collapse-wrapper {
    gap: 20px;
    padding: 0px;
  }
}
