.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slide {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 1240px;
  max-height: 415px;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  color: white;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 2rem;
}

.arrow-right {
  right: 2rem;
}

.count {
  display: flex;
  position: absolute;
  bottom: 2rem;
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
  letter-spacing: -2px;
}

@media screen and (max-width: 576px) {
  .carousel {
    width: 100%;
    height: 100%;
  }

  .slide {
    border-radius: 10px;
  }

  .arrow {
    font-size: 18px;
  }

  .count {
    display: none;
  }
}
