.collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px 10px 5px 5px;
  background-color: #f6f6f6;
  width: 1023px;
}

.collapse-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff6060;
}

.collapse-header h2 {
  margin: 0;
  padding: 0;
}

.collapse-title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 34.224px */
}

.collapse-toggle {
  color: #ffffff;
  background-color: #ff6060;
  border: none;
  width: 32px;
  height: 32p;
  padding: 4px 10.29px 4px 8px;
}

.collapse-content {
  padding: 16px 20px 20px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff6060;
}

.my-collapse {
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
