.footer {
  color: white;
  background-color: black;
  padding: 66px 464px 29px 463px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 28.556px;
}

.footer .img {
  width: 122px;
  height: 39.444px;
}

.footer p {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 66px 120px 58px 121px;
    gap: 0;
  }

  .footer p {
    font-size: 12px;
    font-weight: 500;
    line-height: 142.6%; /* 17.112px */
  }
}
